body {
    width: 1280px;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 1280px;
    height: 64px;
    padding: 12px 40px 12px 40px;

}

header>nav>div:first-child {
    background-color: #2B2A2B;
}

header>nav>div:first-child,
header>nav>div:first-child>a {
    color: white;
}

.button {
    width: 130px;
    height: 40px;
    border-radius: 4px;
    padding: 12px 24px 12px 24px;
    background-color: #515051;
    color: white;
    border: none;
}