* {
    font-family: 'Outfit';
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    background-color: #2B2A2B;
    color: white;
    height: 64px;
}

.navlogo {
    display: flex;
    gap: 5px;
}

.navlogo>h4 {
    font-size: 23.46px;
    font-weight: lighter;
}
.navlogo>img{
    width: 20px;
    height: 25px;
}
.navlinks {
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 14px;
}

.navlinks>a {
    color: white;
}

.navlinks>a:hover {
    background-color: #3F3E3F;
    border-radius: 4px;
}



.navtelf {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 14px;
}

.navtelf>a {
    color: white;
}
.button {
    width: 130px;
    height: 40px;
    border-radius: 4px;
    padding: 12px 24px 12px 24px;
    background-color: #515051;
    color: white;
    border: none;
}
.navbaglogo {
    display: flex;
    align-items: center;
    justify-content: center;

}
/* ============================= = END NAVBAR = =============================*/
/* ========================= = START FIRST SECTION = ========================*/
.thebestcoffee {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
    margin-left: 40px;
}
.containerArticleFirstSection {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.containerArticleFirstSection>p:first-child {
    color: #2A5B45;
    font-size: 18px;
}

.containerArticleFirstSection>h1 {
    font-size: 40px;
}

.containerArticleFirstSection>p:nth-child(3) {
    font-weight: 400px;
    font-size: 14px;
    line-height: 16px;
}

.articlebuttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.containerImgArticleFirstSection{
    margin-top: 48px;
    margin-bottom: 48px;
    /* margin-right: 40px; */
}
.imgArticleFirstSection {
    width: 588px;
    border-radius: 20px;
}

.descubrirbutton {
    width: 168px;
    height: 40px;
    border-radius: 4px;
    background-color: #1F1815;
    color: white;
}

.comprarbutton {
    width: 137px;
    height: 40px;
    border-radius: 4px;
    color: white;
    background-color: #2A5B45;
}

/* END section */
/* START section */

#coffeemilkbackground {
    text-align: center;
    height: 380px;
    background-image: url(/images/cafeconleche.png);
    background-position: center;
    background-size: cover;
    /* display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;  */
}

#coffeemilkbackground>h1 {
    position: relative;
    top: 40px;
    font-size: 24px;
    font-weight: 500;
    color: white;
}

#coffeemilkthreecards {
    /* background-color: gold; */
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    /* flex-direction: column; */
    gap: 24px;
    height: 232px;
    /* text-align: center; */
}

#coffeemilkthreecards>:nth-child(1)>p {
    width: 268px;
    height: 64px;
    font-size: 14px;
    text-align: center;
}

#coffeemilkthreecards>:nth-child(2)>p {
    width: 268px;
    height: 32px;
    font-size: 14px;
    text-align: center;
}

#coffeemilkthreecards>:nth-child(3)>p {
    width: 268px;
    height: 48px;
    font-size: 14px;
    text-align: center;
}

.coffeemilkeachcards {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #F7F5F3;
    margin-top: 100px;
    width: 316px;
    height: 232px;
    border-radius: 8px;
}

.coffeemilkeachcards>h2 {
    width: 268px;
    font-size: 18px;
}

/* .coffeemilkeachcards>p{
    width: 268px;
    height: 64px;
    font-size: 14px;
    text-align: center;
} */
/* END section */
/* STARD section */
.coffeebags {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.coffeegreen,
.coffeered,
.coffeeyellow,
.coffeepurple {
    display: flex;
    width: 282px;
    height: 391.39px;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    border-color: #e2e2e2;
}

.addbutton {
    width: 60px;
    height: 32px;
    top: 335px;
    left: 111px;
    border-radius: 4px;
    padding: 8px;
    gap: 8px;
    background-color: #2A5B45;
    color: white;
}

main>h2 {
    display: flex;
    justify-content: center;
    color: #2A5B45;
    margin-top: 40px;
    margin-bottom: 40px;
}

main>:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 0%;
}

.linkviewall {
    display: flex;
    justify-content: center;
}

.linkviewall>b>u>a {
    color: black;
}

/* ===============start  FAQ=============== */
.faq {
    background-color: #2A5B45;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.faq_tittle>h2 {
    color: white;
    font-size: 24px;
}

.faq_tittle_arrow {
    display: flex;
    justify-content: flex-start;
}

.faq_tittle_sections {
    width: 100%;
}

.faq_arrow_sections {
    width: 100%;
    margin-right: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.faq_tittle_arrow {

    display: flex;
    align-content: flex-end;
    width: 100%;
}

.faq_firstsection {
    background-color: white;
    width: 668px;
    border-radius: 10px;
    padding-left: 24px;
    /* padding: 24px; */
}

.faq_firstsection>hr,
.faq_secondsection>hr,
.faq_thirdsection>hr {
    margin: 0px;
    height: 1px;
    width: 620px;
    background-color: #E3DED7;
    border: none;

}

.faq_secondsection {
    background-color: white;
    width: 668px;
    border-radius: 10px;
    padding-left: 24px;
}

.faq_text {
    font-size: 12px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    width: 620px;
}

.faq_thirdsection {
    background-color: white;
    width: 668px;
    border-radius: 10px;
    padding-left: 24px;
    /* padding-top: 24px;
    padding-bottom: 24px; */
    font-weight: 600px;
}

.link_ur_questions {
    margin-bottom: 52px;
}

.link_ur_questions>a {
    text-decoration: underline;
    color: white;
    font-size: 14px;
}

/* ===============end FAQ=============== */
/* ===============start coffee shop=============== */
#coffeeShop {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 480px;
    padding-left: 40px;
    padding-right: 40px;
    gap: 24px;
}

#textCoffeeShop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    width: 50%;
    min-width: 588px;
}

#textCoffeeShop>h1 {
    color: #2A5B45;
    font-size: 24px;
    margin: 0;
}

#textCoffeeShop>p {
    font-size: 14px;
    margin: 0;
}

#imgTextCoffeeShop {
    height: 390px;
    width: 100%;
    border-radius: 20px;
}

#cajitaimg {
    width: 50%;
    min-width: 588px;
}

/* ===============end coffee shop=============== */
/* ===============start form=============== */
.articleandform {
    display: flex;
    flex-direction: row;
    background-color: #E3DED7;
}

.leftform {
    font-size: 14px;
    line-height: 32px;
    width: 652px;
    height: 552px;
    padding-top: 116px;
    padding-bottom: 116;
    padding-left: 40px;
    padding-right: 40px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.right_section_form {
    background-color: white;
    display: flex;
    align-items: center;
    height: 552x;
    width: 588px;
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 67px;
    padding-right: 51px;

}

.formName {}

#username,
#email {
    width: 470px;
    height: 34px;
    border-radius: 6px;
    margin: 0px;
    padding: 0px;
}

#tlf {
    width: 412px;
    height: 34px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-left-style: none;
    margin: 0px;
    padding: 0px;
}

#opinion {
    width: 470px;
    height: 122px;
    border-radius: 6px;
    margin: 0px;
    padding: 0px;
}

.formEmail {}

.formTelf {}

.tlf_options_input {
    /* display: flex; */

}

#pais {
    border-width: 2px;
    border-color: black;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-right-style: none;
    height: 37px;
    margin: 0px;
    padding: 0px;

}

.formOpinion {}

.checkBox {
    display: flex;
    flex-direction: row;
}

.rightformrightbar {
    background-color: #e3ded7;
    padding-top: 116px;
    padding-bottom: 116;
    height: 552px;
    width: 40px;
}

#username {
    width: 470px;
}
.formAcepted{
    border-color: rgb(4, 255, 0);
    border-width:5px;
}
.formInvalid{
    border-color: rgb(255, 0, 0);
    border-width:5px;
}
.formTextError{
    margin: 0px;
    padding: 0px;
    color: red;
    display: none;
}
.formTextErrorActive{
    display: block;
}
/* ===============end form=============== */
/* ===============start footer=============== */
.footerindex {
    margin-top: 26.21;
    font-size: 23.46px;
    height: 318px;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #1F1815;
}

.leftmenu {
    margin-left: 40px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
}

.leftmenuwithouttittle {
    margin-top: 0px;
    font-size: 18px;
    width: 100%;
    /* height: 100%; */
    gap: 16px;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;

}

.telefono {
    background-color: #515051;
    width: 182px;
    height: 48px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.telefono>a {
    color: white;
    font-size: 14px;
}

/* .leftmenuwithouttittle:nth-child(3)>a{
    color: white;
    background-color: #2A5B45;
} */
.midleftsection {
    font-size: 14px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 128px;
}

.centralmenu {
    gap: 16px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.centralmenu>a {
    color: white;
}

.rightmenu {
    gap: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.rightmenu>a {
    color: white;
}


/* ===============end footer=============== */
/* ==============================PAGE SHOPPING CART============================== */
#cartShopSection {
    /* background-color: violet; */
    display: flex;

    justify-content: center;
    flex-direction: column;
    width: 100%;
}

#cartShopWithoutTittle {
    display: flex;
}

#cartShopPrizesSectionAside {
    width: 384px;
    height: 280px;
    background-color: #F7F5F3;
}

.divisionLane {
    height: 1px;
    width: 95%;
    background-color: #E3DED7;
}

#productsShopCart {
    display: flex;
    align-items: center;
}

#imgProductsShopCart>img {
    width: 20%;
}