* {
    font-family: 'Outfit';
    text-decoration: none;
}
body{
    /* margin:0px; */
    
}

.grid_header_container {
    display: grid;
    grid-template-areas:
        "navbar navbar";
    background-color: #FEFFF5;
}

header>nav>section:first-child,
header>nav>section>a {
    color: white;
}

/* with 1280 resolution, links on nav isnt with the correct size/gap/ */
.navbar {
    height: 64px;
    grid-area: navbar;
    display: grid;
    grid-template-columns: 2fr 4fr 3fr 1fr;
    background-color: #2B2A2B;
    color: white;
    align-content: center;
}

.navlogo {
    display: flex;
    padding-left: 40px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 1054;
    gap: 0.6rem;
}

.navlogo>h4 {
    font-size: 23.46px;
    line-height: 35.19px;
}

.navlinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    color: white;
}

.navlinks>a {
    padding: 5px;
}

header>nav>section:nth-child(2)>a:hover {
    background-color: #3F3E3F;
    border-radius: 4px;
}

.navlinks>a {
    text-decoration: none;
}

.navtelf {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.navtelf>a {
    text-decoration: none;
}

.navbaglogo {
    display: flex;
    align-items: center;
    justify-content: center;

}

.thebestcoffee {
    display: grid;
    grid-template-areas:
        "articletext imgtree";
    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: 30rem; */
    justify-content: space-between;

}

.article {
    grid-area: articletext;
    margin-top: 127px;
    margin-left: 40px;
}

.article>p:first-child {
    color: #2A5B45;
    width: 588px;
    height: 24px;
    font-size: 18px;
}

.article>h1 {
    width: 588px;
    font-size: 40px;
    line-height: 44px;
    align-self: stretch;
}

.article>p:nth-child(3) {
    width: 588px;
    height: 32px;
    font-weight: 400px;
    font-size: 14px;
    line-height: 16px;
}

.articlebuttons {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

.img {
    grid-area: imgtree; 
    margin-bottom: 4rem;
}

/* There is something brong with the img, check it and make it well */
.heroimg {
    margin-top: 48px;
    margin-right: 40px;
    width: 588px;
    border-radius: 20px;
}

.descubrirbutton {
    width: 168px;
    height: 40px;
    border-radius: 4px;
    padding: 12px 24px 12px 24px;
    gap: 8px;
    background-color: #1F1815;
    color: white;
}

.comprarbutton {
    width: 137px;
    height: 40px;
    left: 184px;
    border-radius: 4px;
    gap: 8px;
    padding: 12px 24px 12px 24px;
    color: white;
    background-color: #2A5B45;
}

input[type=button] {
    border-style: none;
}

.button {
    width: 130px;
    height: 40px;
    border-radius: 4px;
    padding: 12px 24px 12px 24px;
    background-color: #515051;
    color: white;
    border: none;
}

/* END section */
/* START section */

#coffeemilkbackground {
    text-align: center;
    height: 380px;
    background-image: url(/images/cafeconleche.png);
    background-position: center;
    background-size: cover;
    /* display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;  */
}

#coffeemilkbackground>h1 {
    position: relative;
    top: 40px;
    font-size: 24px;
    font-weight: 500;
    color: white;
}

#coffeemilkthreecards {
    /* background-color: gold; */
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    /* flex-direction: column; */
    gap: 24px;
    height: 232px;
    /* text-align: center; */
}

#coffeemilkthreecards>:nth-child(1)>p {
    width: 268px;
    height: 64px;
    font-size: 14px;
    text-align: center;
}

#coffeemilkthreecards>:nth-child(2)>p {
    width: 268px;
    height: 32px;
    font-size: 14px;
    text-align: center;
}

#coffeemilkthreecards>:nth-child(3)>p {
    width: 268px;
    height: 48px;
    font-size: 14px;
    text-align: center;
}

.coffeemilkeachcards {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #F7F5F3;
    margin-top: 100px;
    width: 316px;
    height: 232px;
    border-radius: 8px;
}

.coffeemilkeachcards>h2 {
    width: 268px;
    font-size: 18px;
}

/* .coffeemilkeachcards>p{
    width: 268px;
    height: 64px;
    font-size: 14px;
    text-align: center;
} */
/* END section */
/* STARD section */
.coffeebags {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.coffeegreen,
.coffeered,
.coffeeyellow,
.coffeepurple {
    display: flex;
    width: 282px;
    height: 391.39px;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    border-color: #e2e2e2;
}

.addbutton {
    width: 60px;
    height: 32px;
    top: 335px;
    left: 111px;
    border-radius: 4px;
    padding: 8px;
    gap: 8px;
    background-color: #2A5B45;
    color: white;
}

main>h2 {
    display: flex;
    justify-content: center;
    color: #2A5B45;
    margin-top: 40px;
    margin-bottom: 40px;
}

main>:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 0%;
}
.linkviewall{
    display: flex;
    justify-content: center;    
}
.linkviewall>b>u>a {
    color: black;
}
/* ===============start coffee shop=============== */
#coffeeShop{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 480px;
    padding-left: 40px;
    padding-right: 40px;
    gap: 24px;
}
#textCoffeeShop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    width: 50%;
    min-width: 588px;
}
#textCoffeeShop>h1{
    color: #2A5B45;
    font-size: 24px;
    margin: 0;
}
#textCoffeeShop>p{
    font-size: 14px;
    margin: 0;
}
#imgTextCoffeeShop{
    height: 390px;
    width: 100%;
    border-radius: 20px;
}
#cajitaimg{
    width: 50%;
    min-width: 588px;
}

/* ===============end coffee shop=============== */
/* ===============start form=============== */

.leftform {
    background-color: #e3ded7;
    font-size: 14px;
    line-height: 32px;
    width: 652px;
    height: 552px;
    padding-top: 116px;
    padding-bottom: 116;
    padding-left: 40px;
    padding-right: 40px;

    /* display:flex;
    align-content: center;
    justify-content: center; */
}

/* .leftformheader{
    background-color: blueviolet;
    font-size: 14px;
    line-height: 16px;
    width: 588px;
    padding-right: 24px;
}
.leftformheader>p{
    line-height: 16px;
}
.leftformcontent{
    background-color: #54c994; */
/* margin-top: 32px; 
}*/
.rightform {
    height: 552x;
    width: 588px;
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
}

.formName {}

.formEmail {}

.formTelf {}

.formOpinion {}

.checkBox {}

.rightformrightbar {
    background-color: #e3ded7;
    padding-top: 116px;
    padding-bottom: 116;
    height: 552px;
    width: 40px;
}

#username {
    width: 470px;
}
/* ===============end form=============== */
/* ===============start footer=============== */
.footerindex{
    margin-top: 26.21;
    margin-left: 40px;
    font-size: 23.46px;
    height: 318px;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #1F1815;
}
.leftmenu{
    margin-left: 40px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
}
.leftmenuwithouttittle{
    margin-top: 0px;
    font-size: 18px;
    width: 100%;
    /* height: 100%; */
    gap: 16px;
    display: flex;
    align-items: flex-start;
    justify-content:start;
    flex-direction: column;

}
/* .leftmenuwithouttittle:nth-child(3)>a{
    color: white;
    background-color: #2A5B45;
} */
.midleftsection{
    font-size: 14px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 128px;
}
.centralmenu{
    gap: 16px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.centralmenu>a{
    color: white;
}
.rightmenu{
    gap: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.rightmenu>a{
    color: white;
}
/* ===============end footer=============== */